timestep
{
    dt-max = 1e-2
    dt-min = 1e-10
    dt = 3e-6

    automatic-dt = 0 

    allow-dt-increase = 0
    stable-dt-threshold = 4
}

solver
{
    solver-type = explicit-usl
}

material
{
    material-file = "./g_local_mu2.so"
    use-builtin = 0
    properties = {1e9, 0.3}
        # properties are Young's modulus and Poisson's ratio
    integer-properties = { }
        # no integer properties by default
}

boundary-conditions
{
    boundary-conditions-file = "./box.so"
    use-builtin = 0
    properties = {0.0, 0.0, 1.0, 1.0}
        # for the box, the properties are:
        #   (bottomleftx, bottomlefty, width, height)
    integer-properties = { 1, 3, 0, 0 }
        # also for the box, the integer properties are the
        # fixed displacment DOF:
        #   0 - no friction
        #   1 - x only
        #   2 - y only
        #   3 - x and y both
        # the properties are listed in order for the
        #   (left, bottom, right, top)
}

implicit
{
    displacement-norm-ratio = 1e-2
    residual-norm-ratio = 1e-2

    converged-displacement-norm = 1e-8

    unstable-iteration-count = 10
}

input
{
    initial-particle-file = "generated_particles.txt"
    grid-file = "generated_grid.txt"
}

output
{
    directory = "jobs/temp"
    user = ${USER:-unknown}
#    override-directory-with-id = 1

#    particle-file = "frame_particle_data.txt"
#    element-file = "frame_element_data.txt"
#    state-file = "state.txt"

#    enable-particle-output = 1
#    enable-element-output = 0

#    trap-terminate-interrupt = 1
#    save-state-on-terminate = 1

#    prepend-date = 1
    sample-rate = 60.0
}

